.App {
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 350px;
  border: 1px solid #ccc;
}

.form-container {
  height: 400px;
  border: 1px solid #5E0565;
}
.form-container h1 {
  padding: 10px;
  background-color: #5E0565;
  font-size: 20px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.form {
  padding: 30px;
}

.input  {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  font-size: 20px
}

.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: #5E0565;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}